@page "/generate-employees"
@using System.IO
@using System.Globalization
@using Microsoft.EntityFrameworkCore
@using Employees.Data
@inject IDbContextFactory<EmployeeDataContext> DbContextFactory

<h3>Mitarbeiter generieren</h3>

<input type="number" @bind="numberOfEmployees" placeholder="Anzahl der Mitarbeiter" />
<button @onclick="GenerateEmployeeList">Generieren</button>


@if (employees != null)
{
    <ul>
        @foreach (var employee in employees)
        {
            <li>@employee</li>
        }
    </ul>
}

@code {
    private int numberOfEmployees;
    private List<string> employees;

    private async Task GenerateEmployeeList()
    {
        var names = await File.ReadAllLinesAsync("Data/names.csv");
        var addresses = await File.ReadAllLinesAsync("Data/addresses.csv");
        var random = new Random();
        employees = new List<string>();

        using var context = DbContextFactory.CreateDbContext();

        for (int i = 0; i < numberOfEmployees; i++)
        {
            var name = names[random.Next(names.Length)].Split(',');
            var address = addresses[random.Next(addresses.Length)].Split(',');

            var birthDate = RandomBirthDate(new DateTime(1950, 1, 1), new DateTime(2006, 12, 31), random);

            var employee = $"{name[0]} {name[1]}, {birthDate:yyyy-MM-dd}, {address[0]}, {address[1]}, {address[2]}";

            employees.Add(employee);
            await File.AppendAllTextAsync("wwwroot/employees.log", employee + Environment.NewLine);
            await AddEmployeeToDatabase(context, name[0], name[1], birthDate, address[0], address[1], address[2]);
        }
    }

    private DateTime RandomBirthDate(DateTime startDate, DateTime endDate, Random random)
    {
        int range = (endDate - startDate).Days;
        return startDate.AddDays(random.Next(range));
    }

    private async Task AddEmployeeToDatabase(EmployeeDataContext context, string firstName, string lastName, DateTime birthDate, string street, string city, string postalCode)
    {
        var employee = new Employee
            {
                FirstName = firstName,
                LastName = lastName,
                BirthDate = birthDate,
                Street = street,
                City = city,
                PostalCode = postalCode
            };

        context.Employees.Add(employee);
        await context.SaveChangesAsync();
    }
}